/* remove underlines from links */
a {
  @apply text-decoration-none;
}

.shift-left {
  transform: translateX(-35px);
}

.dnd-border {
  border-width: 1px !important;
  border-color: #b6b6b6 !important;
  border-style: dashed !important;
}

/* Bootstrap overrides */
/* 
  btn-outline-dark hover effect
  I dont like the normal effect, so I made my own 🙂
*/
.btn-outline-dark:hover {
  color: black;
  background-color: #0000001e;
}

/* animate-pulse from tailwind */
.animate-pulse {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;

  @keyframes pulse {
    0%,
    100% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
  }
}
